<h1 class="title">All Cocktails</h1>

<div class="columns is-multiline">
  <% @cocktails.each do |cocktail| %>

  <div class="column is-one-quarter">
    <%= link_to cocktail_path(cocktail) do%>
    <div class="dan-card" style="background-image: url('<%= cocktail.photo.to_s  %>');">
      <h2 class="dan-card-title is-size-3 has-text-dark has-text-weight-bold"><%= cocktail.name %></h2>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
