<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/cocktails">
      <span class="has-text-primary is-size-2"><i class="fas fa-glass-martini"></i> Mr Cocktail</span>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Home', cocktails_path, class: 'navbar-item'  %>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to 'New Cocktail', new_cocktail_path, class: 'button is-primary'  %>
        </div>
      </div>
    </div>
  </div>
</nav>
